<?xml version="1.0" encoding="UTF-8"?>
<config>
    <system>
        <property key="freetts.voices" value="com.sun.speech.freetts.en.us.cmu_us_kal.KevinVoiceDirectory"/>
        <!--<property key="freetts.voices" value="com.sun.speech.freetts.en.us.cmu_time_awb.AlanVoiceDirectory"/>-->
    </system>
    <eva>
        <core>
            <event-bus class="eu.anticom.eva.event.EventBus"/>
            <module-manager class="eu.anticom.eva.ModuleManager"/>
        </core>

        <modules>
            <!-- IOs -->
            <module class="eu.anticom.eva.module.io.TextInput"/>
            <module class="eu.anticom.eva.module.io.TextOutput"/>
            <module class="eu.anticom.eva.module.io.AudioInput"/>
            <module class="eu.anticom.eva.module.io.AudioOutput"/>

            <module class="eu.anticom.eva.module.io.VisualInput"/>
            <module class="eu.anticom.eva.module.io.Hands"/>

            <!-- Processors -->
            <module class="eu.anticom.eva.module.processor.SimpleProcessor"/>
        </modules>
    </eva>
</config>